<div class="links-container">
  <h2>My Projects</h2>
  <div *ngFor="let project of projects" class="project">
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
    <div class="links">
      <a [href]="project.github" target="_blank" rel="noopener noreferrer"
        >GitHub</a
      >
      <span *ngIf="project.liveDemo"> | </span>
      <a
        *ngIf="project.liveDemo"
        [href]="project.liveDemo"
        target="_blank"
        rel="noopener noreferrer"
        >Live Demo</a
      >
    </div>
  </div>
</div>
